/*page style*/

.page {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  margin-top: 20px;
  margin-left: 50px;
  padding-bottom: 50px;
}


.page h1 {
  font-size: 30px;
}
.page h3 {
  font-size: 20px;
  padding-top: 20px;
}

.page a {
  font-size: 15px;
  color: rgb(130, 7, 245);
}
