/*  500 px*/

@media screen and (min-width: 700px) {

  .card {
    height: 180px;
    width: 200px;
  }
}

/*900px*/

@media screen and (min-width: 700px) {

  .card {
    height: 180px;
    width: 250px;
  }
}
/*1300px*/

@media screen and (min-width: 700px) {

  .card {
    height: 180px;
    width: 400px;
  }
}

