

.wrapper {
  display: grid;
  grid-template-rows: 200px 1fr 10px ;

}

header {
  grid-column: 1/-1;

  background-image: url("../images/vague.png");
  background-size: contain;
  background-repeat: no-repeat;

  width: 100vw;

  display: grid;
  grid-template: 1fr/ 1fr 1.5fr 1fr;
}




/*mise ne forme text nav*/
nav {
  font-size: 20px;
  padding-top: 100px;

  grid-column: 1/-1;
  grid-row: 1/-1;

  width: 200px;
  height: 100vh;

  position: fixed;

  overflow: hidden;

  background-image: linear-gradient(135deg, #f6416c 10%, #fff6b7 100%);

  z-index: 2;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav ul li {
  padding-bottom: 20px;
  text-align: start;
}

nav ul li i {
  padding-left: 40px;
  padding-right: 20px;
  color: white;
}


/*titre*/

.titre {
  grid-column: 2/3;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;

  text-align: center;
}

.logo {
  grid-column: 3/4;

  background-image: url("../images/ordi-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

main {
  display: grid;
  grid-template: repeat(3, 200px) / repeat(3,1fr);
  padding-left: 300px;
}


/* 
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: center;

  
  padding-left:250px;
  padding-right: 100px;

  background-color: white;

  height: 700px;

} */

/*changement color bg*/

.dark {
  background-color: black;
  color: white;
  background-image: none;
  
}

/*mise en place des cartes*/

.card {
  width: 400px;
  height: 180px;
 
  margin: 10px;
 
}

.html {
  background-image: linear-gradient( 135deg, #F761A1 10%, #8C1BAB 100%);
  border-radius: 10px;
}
.css {
  background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
  border-radius: 10px;
}
.js {
  background-image: linear-gradient( 135deg, #FFA8A8 10%, #FCFF00 100%);
  border-radius: 10px;
}
.php {
  background-image: linear-gradient( 135deg,  #736EFE 10%, #5EFCE8 100%);
  border-radius: 10px;
}
.git {
  background-image: linear-gradient( 135deg, #A0FE65 10%, #FA016D 100%);
  border-radius: 10px;
}
.linux {
  background-image: linear-gradient( 135deg,  #8C1BAB 10%, #F761A1 100%);
  border-radius: 10px;
}
.vsc {
  background-image: linear-gradient( 135deg, #F55555 10%,  #FCCF31 100%);
  border-radius: 10px;
}
.live {
  background-image: linear-gradient( 135deg,  #FCFF00 10%,  #FFA8A8 100%);
  border-radius: 10px;
}
.divers {
  background-image: linear-gradient( 135deg, #736EFE 10%, #5EFCE8 100%);
  border-radius: 10px;
}
.autre {
  background-image: linear-gradient( 135deg, #FA016D 10%, #A0FE65  100%);
  border-radius: 10px;
}


footer {
  grid-row: 3/4;
  grid-column: 1/-1;

  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;



  width: 100%;
  height: 50px;
}

@media screen and (max-width: 1490px) {

  main {
    grid-template: repeat(5, 200px) / repeat(2,1fr);
  }
  .card {
    width: 400px;
    height: 180px;
  }
}

@media screen and (max-width: 1200px) {
  main {
    padding-left: 280px;
  }
  .card {
    width: 350px;
   
  }


}
@media screen and (max-width: 1100px) {
  main {
    padding-left: 240px;
    grid-template: repeat(10, 200px) / 1fr 1fr;
  }
  .card {
    width: 350px;
   
  }


}
@media screen and (max-width: 1000px) {
  main {
    padding-left: 250px;
    grid-template: repeat(10, 200px) / 1fr;
  }
  .card {
    width: 680px;

  }

}
@media screen and (max-width: 960px) {
  main {
    padding-left: 250px;
    grid-template: repeat(10, 200px) / 1fr;
  }
  .card {
    width: 600px;

  }

}
@media screen and (max-width: 910px) {
  main {
    padding-left: 250px;
    grid-template: repeat(10, 200px) / 1fr;
  }
  .card {
    width: 570px;

  }

}
@media screen and (max-width: 850px) {
  main {
    padding-left: 250px;
    grid-template: repeat(10, 200px) / 1fr;
  }
  .card {
    width: 500px;

  }

}
@media screen and (max-width: 780px) {
  main {
    padding-left: 250px;
    grid-template: repeat(10, 200px) / 1fr;
  }
  .card {
    width: 450px;

  }

}
@media screen and (max-width: 730px) {
  main {
    padding-left: 250px;
    grid-template: repeat(10, 200px) / 1fr;
  }
  .card {
    width: 300px;

  }

}