
@media screen and (min-width: 600px) {
  .articles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  
    margin-left: 0px;
  
    max-height: 1500px;
  }
  
  .article {
    margin-right: 100px;
    margin-bottom: 50px;
  }


}
@media screen and (min-width: 1000px) {
  .articles {
  
  
    margin-left: 0px;
  
    max-height: 1100px;
  }
  


}
@media screen and (min-width: 1300px) {
  .articles {
  
  
    margin-left: 0px;
  
    max-height: 900px;
  }
  


}
