/*  500 px*/

@media screen and (min-width: 500px) {
  .card {
    height: 150px;
    width: 220px;
  }

  .html .img,
  .css .img,
  .js .img,
  .php .img,
  .git .img,
  .linux .img,
  .vsc .img,
  .live .img,
  .divers .img,
  .autre .img,
  .html .img
  
  {
    width: 100px;
    height: 100px;
  }

  .titre {
    font-size: 12px;
  }
}
